* {
    box-sizing: border-box;
    margin: 0;
}

.parent1 {
    background-color: rgb(33, 28, 48);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px 10px;
    color: aliceblue;
}

.parent1 h2 {
    margin-bottom: 1%;
}

#one {
    width: 80%;
}

#input {
    border: none;
    padding: 10px;
    font-size: 16px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

#add_button {
    background-color: rgb(57, 79, 50);
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    color: aliceblue;
    font-size: 16px;
    width: 20%;
}

#couple {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
}

ul {
    margin: 0px;
    padding: 0px;
}

#myUl {
    display: flex;
    flex-direction: row;
    /* text-align: left; */
    justify-content: center;
}

ul li {
    background-color: #eee;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    transition: 0.2s;
    padding: 12px 8px 12px 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:hover {
    background: #f9f9f9;
}

ul li.checked {
    background: #000000;
    color: #ff0000;
    text-decoration: line-through;
}

/* correct signal */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    height: 15px;
    width: 7px;
    transform: rotate(45deg);
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #ff0000;
    color: white;
}

#add_button:hover {
    background-color: #555555;
}

input:focus {
    outline: none;
}

.block {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::selection {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.901);
}